<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= assigns[:meta][:title] %></title>
    <meta name="description" content={assigns[:meta][:description]} />
    <meta name="og:title" content={assigns[:meta][:title]} />
    <meta name="og:description" content={assigns[:meta][:description]} />
    <%= if assigns[:meta]["image"] && assigns[:meta]["image"] !== "" do %>
      <meta property="og:image" content={raw(assigns[:meta]["image"])} />
    <% else %>
      <meta property="og:image" content={"//" <> assigns[:host]  <> "/images/og.png"} />
    <% end %>
    <%= for {name, content} <- AcmeWeb.App.metas() do %>
      <meta name={name} content={content} />
    <% end %>
    <AcmeWeb.App.head />
    <%= for stylesheet <- AcmeWeb.App.stylesheets() do %>
      <link rel="stylesheet" href={stylesheet} />
    <% end %>
  </head>
  <body>
    <%= @inner_content %>

    <%= for script <- AcmeWeb.App.scripts() do %>
      <script async defer type="module" src={script}>
      </script>
    <% end %>
  </body>
</html>
